<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Log In</h2>

          <% if flash[:alert] %>
            <div class="alert alert-danger">
              <%= flash[:alert] %>
            </div>
          <% end %>

          <%= form_with(model: @student, url: password_reset_edit_path(token: params[:token]), local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :password, class: "form-label" %>
              <%= form.password_field :password, class: "form-control #{'is-invalid' if flash[:password_error]}" %>
              <% if flash[:password_error] %>
              <div class="invalid-feedback">
              <%= flash[:password_error] %>
              </div>
              <% end %>
              </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control #{'is-invalid' if flash[:password_error]}" %>
              <% if flash[:password_error] %>
              <div class="invalid-feedback">
              <%= flash[:password_error] %>
              </div>
              <% end %>
              </div>

              <div class="mb-3">
              <%= link_to "Forgot password?", password_reset_path %>
              </div>

            <div class="d-grid">
              <%= form.submit "Submit Password", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>